<div class="card text-center card text-white bg-dark ">

   <div class="card-header">
      APP COVID
    </div>
    <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 20 20">
      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
      <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
    </svg>
</div>
    <div class="card-block">
      <h5 class="card-title">USUARIO</h5>
      <p class="card-text">SE MOSTRARAN LAS OPERACIONES PARA LA TABALA DE USUARIO.</p>
      <a href="/operaciones" class="btn btn-primary">OPERACIONES</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>


  <div class="card text-center card text-white bg-dark">
    <div class="card-header">
      APP COVID
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bug-fill" viewBox="0 0 20 20">
        <path d="M4.978.855a.5.5 0 1 0-.956.29l.41 1.352A4.985 4.985 0 0 0 3 6h10a4.985 4.985 0 0 0-1.432-3.503l.41-1.352a.5.5 0 1 0-.956-.29l-.291.956A4.978 4.978 0 0 0 8 1a4.979 4.979 0 0 0-2.731.811l-.29-.956z"/>
        <path d="M13 6v1H8.5v8.975A5 5 0 0 0 13 11h.5a.5.5 0 0 1 .5.5v.5a.5.5 0 1 0 1 0v-.5a1.5 1.5 0 0 0-1.5-1.5H13V9h1.5a.5.5 0 0 0 0-1H13V7h.5A1.5 1.5 0 0 0 15 5.5V5a.5.5 0 0 0-1 0v.5a.5.5 0 0 1-.5.5H13zm-5.5 9.975V7H3V6h-.5a.5.5 0 0 1-.5-.5V5a.5.5 0 0 0-1 0v.5A1.5 1.5 0 0 0 2.5 7H3v1H1.5a.5.5 0 0 0 0 1H3v1h-.5A1.5 1.5 0 0 0 1 11.5v.5a.5.5 0 1 0 1 0v-.5a.5.5 0 0 1 .5-.5H3a5 5 0 0 0 4.5 4.975z"/>
      </svg>
    </div>
    <div class="card-body">
      <h5 class="card-title">SINTOMAS</h5>
      <p class="card-text">SE MOSTRARAN LAS OPERACIONES PARA LA TABALA DE SINTOMAS.</p>
      <a href="/sintomas" class="btn btn-primary">OPERACIONES</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

  <div class="card text-center card text-white bg-dark">
    <div class="card-header">
      APP COVID
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-qr-code-scan" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM3 3h3v3H3V3Zm0 7h3v3H3v-3Zm7-7h3v3h-3V3ZM7 2H2v5h5V2Zm0 7H2v5h5V9Zm2-7h5v5H9V2ZM4 4h1v1H4V4Zm7 0h1v1h-1V4Zm-6 7H4v1h1v-1Zm3.5-3H8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8.5Zm1.5 2V9H9v1h1Zm4 3.5V12h-1v1h-2v1h3v-.5Zm-4 .5v-1H8v1h2Zm2-5h2V8h-2v1Z"/>
      </svg>
    </div>
    <div class="card-body">
      <h5 class="card-title">CARRERA</h5>
      <p class="card-text">SE MOSTRARAN LAS OPERACIONES PARA LA TABALA DE CARRERA.</p>
      <a href="/carrera" class="btn btn-primary">OPERACIONES</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

  <div class="card text-center card text-white bg-dark">
    <div class="card-header">
      APP COVID
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 20 20">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
      </svg>
    </div>
    <div class="card-body">
      <h5 class="card-title">NOTIFICACIONES</h5>
      <p class="card-text">SE MOSTRARAN LAS OPERACIONES PARA LA TABALA DE NOTIFICACIONES.</p>
      <a href="/noti" class="btn btn-primary">OPERACIONES</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
